{%- assign COMPONENT_NAME = 'button' -%}

{%- comment -%}

  Required arguments:
  • content || icon

  Optional arguments:
  • type

{%- endcomment -%}


<button
  class="{%- include 'classes' -%} {%- if icon != blank and content == blank %} is-icon{% endif -%}"
  {%- if type != blank -%}type="{{- type -}}"{%- endif -%}
  {% include 'attrs' -%}>

  {%- if icon != blank -%}

    {%- include 'icon',
      name: icon,
      classes: '',
      attrs: '' -%}

  {%- endif -%}

  <div class="button-content">

    {{- content -}}

  </div>

</button>


{%- assign COMPONENT_NAME = nil -%}
