{%- assign COMPONENT_NAME = 'icon' -%}

{%- comment -%}

  Required arguments:
  • name

{%- endcomment -%}


{%- assign icon_name = name | remove_first: 'icon-' | prepend: 'icon-' | strip -%}

<div
  class="{%- include 'classes' %} {{ icon_name -}}"
  {% include 'attrs' -%}>

  {%- include icon_name,
    classes: '',
    attrs: '' -%}

</div>


{%- assign icon_name = nil -%}
{%- assign COMPONENT_NAME = nil -%}
