{%- assign COMPONENT_NAME = 'label' -%}

{%- comment -%}

  Required arguments:
  • content

  Optional arguments:
  • for

{%- endcomment -%}


<label
  class="{%- include 'classes' -%}"
  {%- if for != blank -%}for="{{- for -}}"{%- endif -%}
  {% include 'attrs' -%}>

  {{- content -}}

</label>


{%- assign COMPONENT_NAME = nil -%}
