{%- assign COMPONENT_NAME = 'dropdown' -%}

{%- comment -%}

  Required arguments:
  • name
  • value - can be array of strings or `product.options_with_values`
    - value can have form `<label>::<value>`
  • selected_value

  Optional arguments:
  • id

{%- endcomment -%}


{%- capture _values_type -%}
  {%- include 'liquid-type', value: values -%}
{%- endcapture -%}

{%- assign _values = value -%}
{%- if _values_type == 'string' -%}
  {%- assign _values = value | split: ',' -%}
{%- endif -%}

<select
  class="{%- include 'classes' %} input-select"
  name="{{- name -}}"
  {%- if id != blank -%}id="{{- id -}}"{%- endif -%}
  {% include 'attrs' -%}>

  {%- for value in _values -%}
    {%- assign _value_parts = value | split: '::' -%}
    {%- assign _label = _value_parts[0] | strip -%}
    {%- assign _value = _value_parts[1] | strip | default: _label -%}

    <option
      value="{{- _value -}}"
      {%- if selected_value == _label -%}selected{%- endif -%}>

      {{- _label -}}

    </option>

  {%- endfor -%}

</select>


{%- assign _value_type = nil -%}
{%- assign _value_parts = nil -%}
{%- assign _label = nil -%}
{%- assign _value = nil -%}
{%- assign _values = nil -%}
{%- assign COMPONENT_NAME = nil -%}
