{%- assign COMPONENT_NAME = 'svg' -%}

{%- comment -%}

  Required arguments:
  • name

{%- endcomment -%}


<div
  class="{%- include 'classes' %} svg-{{- name -}}"
  {% include 'attrs' -%}>

  {%- include name -%}

</div>

{%- assign COMPONENT_NAME = nil -%}
