{%- assign COMPONENT_NAME = 'svg' -%}

{%- comment -%}

  Required arguments:
  - snippet

{%- endcomment -%}


<div class="xx-svg {{ classes -}}" {{ attrs -}}>

  {%- include snippet -%}

</div>

{%- assign COMPONENT_NAME = nil -%}
