.oo-option-group {
  display: flex;
  flex-wrap: wrap;
}

.option-group-header {
  flex-basis: 100%;
  display: flex;
  align-items: center;
}

.swatch {
  display: inline-block;
  margin-right: 10px;
  font-size: 0;
  border: 4px solid transparent;
  outline: 1px solid $color-black;
  height: 40px;
  width: 40px;
}

.swatch-cool-blue {
  background-color: lightblue;
}

.swatch-charcoal-grey {
  background-color: #333333;
}

.swatch-pink-rose {
  background-color: pink;
}

.swatch-maple-sugar {
  background-color: peachpuff;
}

.swatch-haute-red {
  background-color: crimson;
}

.swatch-maple-sugar {
  background-color: peachpuff;
}

.swatch-pink {
  background-color: pink;
}

.swatch-black {
  background-color: black;
}

.swatch-wine-tasting {
  background-color: darkred;
}

.oo-input--radio[name="Size"] + .swatch {
  position: relative;

  &::after {
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.swatch-extra-small::after {
  content: 'XS';
}

.swatch-small::after {
  content: 'S';
}

.swatch-medium::after {
  content: 'M';
}

.swatch-large::after {
  content: 'L';
}

.swatch-xl::after {
  content: 'XL';
}
