{%- assign product = all_products['blue-silk-tuxedo'] -%}


{%- capture _slider_content -%}
  {%- include 'image',
    resource: product.featured_image,
    size: '400x',
    wrapper_attrs: '',
    wrapper_classes: 'peru',
    attrs: '' -%}

  {%- include 'image',
    resource: product.featured_image,
    size: '400x',
    wrapper_attrs: '',
    wrapper_classes: 'peru',
    attrs: '' -%}

  {%- include 'image',
    resource: product.featured_image,
    size: '400x',
    wrapper_attrs: '',
    wrapper_classes: 'peru',
    attrs: '' -%}
{%- endcapture -%}

{%- capture _atc_content -%}
  {%- include 'heading',content: product.title -%}
  {%- include 'price', resource: product -%}
  {%- include 'text', content: product.description -%}

  {%- for option in product.options_with_values -%}
    {%- assign downcased_option_name = option.name | downcase -%}

    {%- assign _type = 'select' -%}
    {%- if downcased_option_name == 'color' -%}
      {%- assign _type = 'swatches' -%}
    {%- endif -%}

    {%- include 'option-group',
      type: _type,
      name: option.name,
      values: option.values,
      selected_value: option.selected_value,
      show_option_name: true,
      show_selected_value: true,
      classes: '',
      attrs: '' -%}
  {%- endfor -%}

  {%- include 'quantity-select' -%}

  {%- include 'button',
    icon: 'cart',
    content: 'add',
    classes: '',
    attrs: 'data-add-to-cart' -%}
{%- endcapture -%}

{%- capture _product_content -%}
  {%- include 'container',
    type: 'slider',
    name: 'Product Gallery',
    content: _content,
    classes: '',
    attrs: '' -%}

  {%- include 'container',
    type: 'form',
    tag: 'form',
    name: 'Product Main Add To Cart'
    content: _atc_content,
    classes: '',
    attrs: '' -%}
{%- endcapture -%}




{%- include 'container',
  type: 'product',
  name: 'Product Main',
  content: _product_content,
  _product: product,
  classes: '',
  attrs: '' -%}


{%- comment -%}<div class="home-page-sections-wrapper">

  {{ content_for_index }}

</div>
{%- endcomment -%}
