{%- assign __product = collections.frontpage.products.first -%}

{%- capture _content -%}

  {%- include 'button',
    content: 'button-3',
    type: 'reset',
    icon: 'add',
    classes: 'charlie',
    attrs: '' -%}

  {%- include 'heading',
    content: 'heading-1',
    level: 3,
    classes: 'delta',
    attrs: 'data-product-title' -%}

  {%- include 'input',
    type: 'radio',
    name: 'gender',
    value: 'male',
    classes: 'echo',
    attrs: 'data-option-value checked' -%}

  {%- include 'label',
    content: 'input-1',
    classes: 'foxtrot',
    attrs: 'data-option-value' -%}

  {%- include 'price',
    resource: __product,
    type: 'price',
    filter: 'money_without_trailing_zeros',
    classes: 'gulf',
    attrs: '' -%}

  {%- include 'select',
    name: __product.options_with_values.first.name,
    values: __product.options_with_values.first.values,
    selected_value: __product.options_with_values.first.selected_value,
    classes: 'india',
    attrs: 'data-option-value' -%}

  {%- include 'svg',
    name: 'icon-lock',
    classes: 'kilo',
    attrs: '' -%}

  {%- include 'text',
    content: 'hey how are ya?',
    classes: 'lima',
    attrs: '' -%}

  {%- include 'text',
    content: 'great how are you?',
    rte: true,
    classes: 'mike',
    attrs: '' -%}

  {%- include 'image',
    resource: __product.featured_image,
    size: '400x',
    wrapper_attrs: '',
    wrapper_classes: 'peru',
    attrs: '' -%}

  {%- include 'quantity-select',
    tag: 'div',
    content: 'qty' -%}

  {%- include 'icon-with-text',
    icon: 'plus',
    text: 'add',
    classes: 'romeo',
    attrs: '' -%}
{%- endcapture -%}

{%- include 'container',
  type: 'product',
  name: 'Main Product Container',
  content: _content,
  classes: '',
  attrs: '' -%}

{%- comment -%}
{%- include '',
  content: '',
  classes: '',
  attrs: '' -%}

{%- include '',
  content: '',
  classes: '',
  attrs: '' -%}

{%- include '',
  content: '',
  classes: '',
  attrs: '' -%}

{%- include '',
  content: '',
  classes: '',
  attrs: '' -%}

{%- include '',
  content: '',
  classes: '',
  attrs: '' -%}
{%- endcomment -%}



{%- comment -%}<div class="home-page-sections-wrapper">

  {{ content_for_index }}

</div>
{%- endcomment -%}
