<div class="red">red</div>
<div class="blue">blue</div>
<div class="green">green</div>

{%- capture _content -%}
  {%- include 'product-container-json', _product: product -%}

  {%- for _product in collections.frontpage.products -%}
    {%- include 'product-container-json' -%}
  {%- endfor -%}

  {%- include 'quantity-select',
    quantity: 1,
    classes: '',
    attrs: '' -%}

  {%- include 'quantity-select',
    quantity: 2,
    classes: '',
    attrs: '' -%}

{%- endcapture -%}


{%- include 'container',
  type: 'product',
  name: 'Main Product Container',
  content: _content,
  classes: '',
  attrs: '' -%}
