.bottom-bar-wrapper {
  background-color: $color-black;
}

.bottom-bar {
  display: flex;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 45px;
  color: $color-white;

  @include mq('small') {
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 45px;
  }
}

.bottom-bar--logo {
  margin-top: 4px;
  margin-right: 90px;
}

.bottom-bar--social-media-icons > * {
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}
