{%- comment -%}

  Required arguments:
  - _product

  Optional arguments:
  - with_quickshop
  - classes
  - attrs

{%- endcomment -%}


{%- assign _classes = classes -%}
{%- if with_quickshop == true -%}
  {%- assign _classes = classes | append: ' with-quickshop' -%}
{%- endif -%}

{%- capture product_item_content -%}

  {%- capture product_item_link_content -%}

    {%- include 'image',
      resource: _product.featured_image,
      size: '400x',
      classes: 'product-item-image',
      attrs: '', -%}

    {%- capture subheading -%}
      {%- include 'text',
        content: _product.vendor,
        classes: 'product-item-subheading',
        attrs: '', -%}
    {%- endcapture -%}

    {%- include 'header',
      level: 2,
      title: _product.title,
      content: subheading,
      classes: 'product-item-header',
      attrs: '', -%}

    {%- include 'price',
      _price: _product.price,
      type: 'price',
      classes: 'product-item-price',
      attrs: '', -%}

  {%- endcapture -%}


  {%- assign product_item_link_href = _product.url | within: collection -%}

  {%- include 'link',
    href: product_item_link_href,
    content: product_item_link_content,
    classes: 'product-item-meta',
    attrs: '' -%}


  {%- if with_quickshop == true -%}

    <div class="product-item-quickshop-toggles">

      {%- include 'button',
        content: 'Add To Cart',
        classes: 'product-item-button button--primary-alt flex-6 u-push-down',
        attrs: '' -%}

      {%- include 'button',
        content: 'Quickview',
        icon: 'icon-add',
        height: '18px';
        classes: 'product-item-button button--primary-alt flex-6 u-push-down',
        attrs: 'data-open-quickshop' -%}

    </div>

  {%- endif -%}
{%- endcapture -%}

{%- include 'container-product',
  name: 'Product Item',
  type: 'product-item'
  _product: _product,
  content: product_item_content,
  classes: _classes,
  attrs: '', -%}


{%- assign _classes = nil -%}
{%- assign product_item_content = nil -%}
{%- assign subheading = nil -%}
{%- assign product_item_link_href = nil -%}
