{%- assign COMPONENT_NAME = 'price' -%}

{%- comment -%}

  Required arguments:
  - _price
  - type

{%- endcomment -%}


{% comment %}

  add bracket notation to access prices

{% endcomment %}

<div
  class="oo-price {{ classes -}}"
  data-price="{{- type -}}"
  {{ attrs -}}>

  {{- _price | money -}}

</div>

{%- assign COMPONENT_NAME = nil -%}
