{%- comment -%}

  Required arguments:
  - menu

  Optional arguments:
  - show_social_icons

{%- endcomment -%}


{%- for parent in linklists[menu].links -%}

  <section class="global-footer--links-block">

    {%- include 'header',
      level: 3,
      title: parent.title,
      classes: 'global-footer--links-header',
      attrs: '' -%}

      <div class="footer--links">

        {%- for child in parent.links -%}

          {%- assign icon = blank -%}
          {%- assign networks = 'facebook,twitter,instagram,youtube,pinterest' | split: ',' -%}

          {%- if show_social_icons == true -%}
            {%- if networks contains child.handle -%}
              {%- assign icon = child.handle -%}
            {%- endif -%}
          {%- endif -%}

          {%- include 'link',
            href: child.url,
            content: child.title,
            icon: icon,
            classes: 'global-footer--link',
            attrs: '' -%}

        {%- endfor -%}

      </div>

  </section>

{%- endfor -%}
