{% comment %}

  Required arguments:

  Optional arguments:
  - with_thumbs
  - group_images
  - filter_group_options
  - filter_attr

{% endcomment %}


<div class="product-images {{ classes -}}" {{ attrs -}}>

  {%- if has_nav == true -%}

    {%- include 'product-main-images-gallery',
      thumbs: true,
      classes: '',
      attrs: '' -%}

  {%- endif -%}

  {%- include 'product-main-images-gallery',
    classes: 'is-lazyloaded',
    attrs: '' -%}

</div>
