{% comment %}

  Required arguments:

  Optional arguments:
  - show_compare_at_price
  - show_option_name
  - show_selected_value
  - add_to_cart_button_text
  - add_to_cart_button_classes

{% endcomment %}

{%- assign _variant = _product.selected_or_first_available_variant -%}


<div class="product-info {{ classes -}}" {{ attrs -}}>

  {%- include 'header',
    title: _product.title,
    classes: 'product-title',
    attrs: '' -%}

  <div class="product-prices">

    {%- include 'price',
      _price: _variant.price,
      type: 'price',
      classes: '',
      attrs: '' -%}

    {%- if show_compare_at_price == true -%}

      {%- include 'price',
        _price: _variant.compare_at_price,
        type: 'compare_at_price',
        classes: '',
        attrs: '' -%}

    {%- endif -%}

  </div>

  {%- include 'text',
    content: _product.description,
    rte: true,
    classes: 'product-description',
    attrs: '' -%}

  {%- include 'product-main-add-to-cart-form',
    show_option_name: show_option_name,
    show_selected_value: show_selected_value,
    add_to_cart_button_text: add_to_cart_button_text
    add_to_cart_button_classes: add_to_cart_button_classes,
    classes: '',
    attrs: '' -%}

</div>

{%- assign _variant = nil -%}
