.oo-grid {
  display: flex;
  flex-wrap: wrap;
}

.flex {
  display: flex;
}

.flex-no-wrap {
  flex-wrap: nowrap;
}

.flex-column {
  flex-direction: column;
}

.flex-justify-center {
  justify-content: center;
}

.flex-auto {
  flex-basis: auto;
}

@for $i from $columns through 1 {
  $width: ($i/$columns);
  $named-width: map-get($named-widths, decimal-round($width, 3, floor));
  $values: ($i);

  @if $named-width != null {
    $values: append($values, $named-width);
  }

  @each $value in $values {
    $flex-selector: flex-#{$value};
    $width-selector: width-#{$value};

    .#{$flex-selector} {
      flex-basis: percentage($width);
    }

    .#{$width-selector} {
      width: percentage($width);
    }

    @each $breakpoint in $breakpoints {
      $screen-width: nth($breakpoint, 1);

      @each $size in $breakpoint {
        @if type-of($size) == string {
          .#{$size}-#{$flex-selector} {
            @include mq($screen-width) {
              flex-basis: percentage($width);
            }
          }

          .#{$size}-#{$width-selector} {
            @include mq($screen-width) {
              width: percentage($width);
            }
          }
        }
      }
    }
  }
}

@each $breakpoint in $breakpoints {
  $screen-width: nth($breakpoint, 1);

  @each $size in $breakpoint {
    @if type-of($size) == string {
      .#{$size}-hide {
        @include mq($screen-width) {
          display: none;
        }
      }

      .#{$size}-show {
        @include mq($screen-width) {
          display: initial;
        }
      }
    }
  }
}

// .flex-full-grid,
// .flex-12-grid {
//   flex-basis: 74%;
// }

// .flex-9-grid {
//   flex-basis: 74%;
// }

// .flex-8-grid {
//   flex-basis: 66.66%;
// }

// .flex-half-grid,
// .flex-6-grid {
//   flex-basis: 50%;
// }

// .flex-third-grid,
// .flex-4-grid {
//   flex-basis: 33.33%;
// }

// .flex-quarter-grid,
// .flex-3-grid {
//   flex-basis: 25%;
// }

// .flex-2-grid {
//   flex-basis: 16.66%;
// }
