/**
 *
 * 1. Set the default `font-size` and `line-height` for the entire project,
 *    sourced from our default variables. The `font-size` is calculated to exist
 *    in ems, the `line-height` is calculated to exist unitlessly.
 * 2. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 * 5. https://davidwalsh.name/font-smoothing
 */

html {
  font-size: 100%;
}

body {
  font-size: $font-size-base; /* [1] */
  line-height: $font-line-height; /* [1] */
  font-family: $font-primary;
  color: $color-body-text;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading;
  font-weight: inherit;
  font-size: inherit;
  line-height: 1;
  color: inherit;
  margin: 0;
}

p {
  margin: 0;
  font-weight: 400;
  line-height: 1.5;
}

body,
input,
textarea,
button,
select {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; /* [5] */
  text-size-adjust: 100%;
}

a:focus {
  color: inherit;
}

/* ==========================
   # Heading Styles
=========================== */

%heading-base {
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1;
}

.heading-one {
  @extend %heading-base;

  font-size: 24px;
  font-weight: 400;
  letter-spacing: 5.25px;

  @include mq('m') {
    font-size: 34px;
    letter-spacing: 7.5px;
  }

  @include mq('l') {
    font-size: 44px;
    letter-spacing: 9.75px;
  }
}

.heading-two {
  @extend %heading-base;

  font-size: 42px;
  font-weight: 400;
  letter-spacing: 5.25px;
}

.heading-three {
  @extend %heading-base;

  font-size: 18px;
  font-weight: 400;
}


/* =========================
   # Text Styles
=========================== */

%text-base {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 2px;
}

.text-one {
  @extend %text-base;

  font-size: 16px;
}

.text-two {
  @extend %text-base;

  font-size: 10px;
  text-transform: uppercase;
}

.text-three {
  @extend %text-base;

  font-size: 14px;
  font-weight: 300;

  @include mq('s') {
    font-size: 16px;
  }
}
