<div class="global-header-mobile-nav-toggle">
  {%- capture _attrs -%}
    data-mobile-nav-toggle
    data-toggle="[data-mobile-nav-toggle], [data-mobile-nav]"
    data-lock-scroll="[data-mobile-nav]"
    data-unlock-scroll="[data-mobile-nav]"
  {%- endcapture -%}

  {%- include 'button',
    icon: 'mobile-nav-toggle',
    classes: '',
    attrs: _attrs -%}
</div>


{%- assign _attrs = nil -%}
